*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section.hard-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F3F7;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h2 {
    font-weight: bold;
    font-size: 30px;
    color: #16191D;
}

.container p {
    font-weight: 400;
    font-size: 16px;
    color: #8E9297;
    text-align: center;
    margin-top: 8px;
}

#app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #ffffff;

}

.section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-top: 40px;

}

#button {
    display: flex;
    gap: 20px;
    border: 2px solid rgba(214, 214, 214, 0.5);
    background-color: #EAEDF0;
    border-radius: 100px;
    padding: 11px 25px;
    align-items: center;
}

#button p {
    margin: 0;
}

